
.conformation-object-cover {
    width: 10%;
    float: left;
    margin-right: 20px;
}

.conformation-object-cover .ting-cover {
    margin-bottom: 30px;
}

.conformation-object-message .error {
    display: none;
}

.conformation-object-inspiration {
    margin-top: 30px;
    clear: both;
}

.conformation-object-inspiration .more-link{
    clear: none;
    display: block;
    margin-right: 2.4911%;
    width: 23.1%;
    min-width: 20%;
}

@media only screen and (max-width: 768px) {
    .conformation-object-cover {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .conformation-object-inspiration .more-link {
        width: 40%;
        float: left;
        margin: 0 5% 25px 5%;
    }
    .ting-object .conformation-object-inspiration .more-link {
        width: 40%;
        float: left;
        margin: 0 6% 12px 3%;
    }
    .ting-object .conformation-object-inspiration .more-link a {
        padding: 20px 5px 16px 13px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .ting-object .conformation-object-inspiration .more-link:nth-child(4n) {
        margin-right: 0%;
    }

    .ting-object .conformation-object-inspiration .more-link a {
        font-size: 18px;
        width: 100%;
    }

    .ting-object .conformation-object-inspiration .more-link a::after {
        content: "\e900";
        color: #ffffff;
        font-size : 80px;
        line-height: 0.7;
    }
}